@charset "UTF-8";

section#corpo-artigo h2{
    font-family: 'Ysabeau Infant', sans-serif, ;
    color: #302626;
    font-size: 15pt;
    padding: 1px;
    margin-top: 0px;
    text-align: justify;

}

/*
p::before{
   content: "🌿";
   font-size: 1.2em;
}
Exemplo de como por emoji automatico

ul#ponto {
  list-style: disc;
  padding: 10px;
  margin: 5px;
}
*/




